name: Test for actions runner

on: push

jobs:
  build:
    name: My build
    runs-on: [self-hosted, linux]
    steps:
    - name: checkout
      uses: actions/checkout@master
    - name: build
      env:
        MY_VAR: Hi there! My name is
      run: |
        echo $MY_VAR
        docker build -t 192.168.31.140:5000/python -f ./dockerfile.django.gitlab-runner .    
        docker push 192.168.31.140:5000/python
        sh ./docker-run.sh
      shell: bash
    - name: failed
      if: failure()
      run: |
        python sendmesstowx.py "build failed: https://github.com/Thomas-YangHT/django/edit/master/.github/workflows/actions.yml"
    - name: successed
      if: success()
      run: |
        python sendmesstowx.py "build successed"
